<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name:</th>
      <td><%= @country.name %></td>
      <th>Makes</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td>
        <ol>
        <% @country.makes.each do |make| %>
          <li> <%= make.name %>
        <% end %>
        </ol>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>

