<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Countries', countries_path %></th>
      <th><%= link_to 'Makes', makes_path %></th>
      <th><%= link_to 'Cars', cars_path %></th>
      <th><%= link_to 'Parts', parts_path %></th>

    </tr>
  </thead>
</table>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Make</th>
      <th colspan="20">
        <%= form_tag(search_cars_url, method: "get") do %>
          <%= label_tag(:query, "Search for:") %>
          <%= text_field_tag(:query) %>
          <%= submit_tag("Search") %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.make.name %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
